body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #2d8696, #6544c8);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 80px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    position: relative;
}

.step-progress {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.step {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.step-active {
    background-color: #4caf50;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input, select, textarea {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

input::placeholder, textarea::placeholder {
    color: #aaa;
}

textarea {
    resize: vertical;
    height: 100px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button.btn {
  
    padding: 10px;
    
    background-color: #67b678;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}

button.btn:hover {
    background-color: #0056b3;
}

.form-step {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.form-step-active {
    display: block;
    opacity: 1;
}
