body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Light sky blue */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

h1 {
    color: #00796b;
}

.test-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.test-option {
    background-color: #00796b;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.test-option:hover {
    transform: scale(1.1);
    background-color: #004d40;
}

.message {
    color: #d32f2f;
    margin-bottom: 20px;
    display: none;
}

.back-button {
    background-color: #00796b;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.back-button:hover {
    transform: scale(1.1);
    background-color: #004d40;
}
