body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(96, 170, 248);
    background-repeat: no-repeat;
    background-size: cover;
}
li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
  }
  

  li a:hover {
    background-color: #111;
  }
.container h3{
    text-align: center;
}
.container {

    

    background-color: white;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px; 

}

.form{

    margin-bottom: 15px;
}

.form label,p {

    display: block;
    margin-bottom: 5px;
}

.form input, .form select{
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form .RadioButton, .form .checkboxs {
    display: inline-flex;
    gap: 20px;
}

.add-more {
    display: inline-block;
    width:auto;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.add-more:hover{

    background-color: #218838;
}

.submitButton{

    margin-left: 40%;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 15%;
    box-shadow: none;
    outline: none;
    
    
}

.testPage{
    
    display: inline-block;
    width:auto;
    margin-left: 375px;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}