body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    padding-top: 60px; /* Add padding to the top to prevent content from being hidden under the fixed navbar */
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    width: 100%;
    padding: 0;
    position: fixed; /* Fix the navbar at the top */
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-inner {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
}

.navbar a, .dropbtn {
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #575757;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.profile-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.profile-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-info {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}

strong {
    font-weight: bold;
}
